<!--begin::Main Modal-->
<div class="modal fade" id="main_modal" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header d-flex justify-content-between">
                <!--begin::Modal title-->
                <h3 class="modal-title">Modal title</h3>
                <!--end::Modal title-->
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary ms-2" data-bs-dismiss="modal">
                    <i class="ki-outline ki-cross fs-1"></i>
                </div>
                <!--end::Close-->
            </div>
            <!--begin::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body hover-scroll-y">
                <partial name="_Loader" />
            </div>
            <!--begin::Modal body-->
        </div>
    </div>
</div>
<!--end::Main Modal-->
