@model CreateActivityCategoryDTO
@{
    ViewData["Title"] = "Create New";
}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">@ViewData["Title"]</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="ActivityCategory" asp-action="Index">Activity Categories</a></li>
                <li class="breadcrumb-item active">@ViewData["Title"]</li>
            </ol>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Activity Category</h4>
                <form id="FormSubmit" class="mt-4" enctype="multipart/form-data" asp-area="" asp-controller="ActivityCategory" asp-action="Create" method="post">
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label for="exampleInputEmail1">Name</label>
                            <input asp-for="Name" type="text" class="form-control" placeholder="Enter Name" autocomplete="off">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="exampleInputEmail1">Branch</label>
                            <select asp-for="BranchId" class="select2 form-control custom-select" style="width: 100%; height:36px;">
                                @* @foreach (var item in ViewBag.Branches as List<CountryDto>)
                                {
                                    <option value="@item.Id"></option>
                                } *@
                            </select>
                            <span asp-validation-for="BranchId" class="text-danger"></span>
                        </div>


                        <div class="form-group col-md-1">
                            <label for="">&nbsp;</label>
                            <button type="submit" class="btn btn-primary form-control">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {

}
