#kt_app_sidebar_toggle.app-sidebar-toggle-custom i {
    color: var(--bs-text-primary);
}


#kt_app_sidebar_toggle.app-sidebar-toggle-custom.active i {
    color: var(--bs-text-muted);
}

@media (max-width:991.98px) {
    div:has(> #kt_app_sidebar_toggle.app-sidebar-toggle-custom) {
        display: none;
    }
}

