#kt_app_sidebar_toggle.app-sidebar-toggle-custom i {
    color: var(--bs-text-primary);
}


#kt_app_sidebar_toggle.app-sidebar-toggle-custom.active i {
    color: var(--bs-gray-800);
}

@media (max-width:991.98px) {
    div:has(> #kt_app_sidebar_toggle.app-sidebar-toggle-custom) {
        display: none;
    }
}

.image-input-placeholder, .symbol-label {
    background-image: url('../../media/svg/files/blank-image.svg');
}

[data-bs-theme="dark"] .image-input-placeholder, [data-bs-theme="dark"] .symbol-label {
    background-image: url('../../media/svg/files/blank-image-dark.svg');
}

.symbol-label-blank {
    background-image: url('../../media/svg/avatars/blank.svg');
}

[data-bs-theme="dark"] .symbol-label-blank {
    background-image: url('../../media/svg/avatars/blank-dark.svg');
}
